.header {
    padding-top: to-rem(30px);
    padding-bottom: to-rem(110px);
    display: flex;
    justify-content: space-between;

    @include media(">desktop") {
        padding: to-rem(30px) to-rem(30px);
        padding-bottom: to-rem(70px);
    }

    .logo {
        width: to-rem(130px);
        width: fit-content;
    }

    .menu {
        padding-bottom: 0;
    }

}