.header {
    padding-top: to-rem(30px);
    padding-bottom: to-rem(110px);
    display: flex;
    justify-content: space-between;

    @include media(">desktop") {
        padding-bottom: to-rem(30px);
    }

    .logo {
        width: to-rem(160px);
    }

    .menu {
        padding-bottom: 0;
    }

}