.landing-container {
    width: 100%;
    height: 93vh;

    background-image: url('../../assets/mobile/image-header.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;

    text-align: center;

    @include media(">desktop") {
        background-image: url('../../assets/desktop/image-header.jpg');
    }

    .arrow {
        width: to-rem(50px);
        @include media(">desktop") {
            width: to-rem(30px);
        }
    }
}