.testimonials-container {
    text-align: center;
    padding: to-rem(70px) 0;
    background-color: $white;

    @include media('>desktop') { 
        padding: to-rem(120px) 0;
    }

    .testimonial-wrapper {
        display: block;
        
        @include media('>desktop') { 
            display: flex;
            flex-direction: row;

            width: 90%;
            margin: auto;
        }
    }

    .testimonial-card-img {
        display: inline-block;
        border-radius: 100%;
        width: to-rem(130px);
        padding: 18px;

        margin-bottom: to-rem(40px);

        @include media('>desktop') {
            width: to-rem(90px);
        }
    }
}