.testimonials-container {
    text-align: center;
    padding: to-rem(70px) 0;
    background-color: $white;

    @include media('>desktop') { 
        padding: to-rem(120px) 0;
    }

    .testimonial-wrapper {
        display: block;
        
        @include media('>desktop') { 
            display: flex;
            flex-direction: row;
        }

        .container {
            @include media('>desktop') {
                padding: 0 to-rem(30px);
            }
        }
    }

    .testimonial-card-img {
        display: inline-block;
        border-radius: 100%;
        width: to-rem(120px);
        padding: 18px;

        padding-bottom: to-rem(20px);
    }
}