@import '../modules/variables.scss';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;

  @include media(">desktop") {
    // everything calculated will scale fluidly after medium breakpoint
    font-size: calc(12px + 0.4vw);
  }
}

svg {
  width: 100%;
}

//for locomotive scroll position fixed is a fix o_O

.App {
  position: fixed;
}

body {
  min-height: 100%;
  font-size: calc(16px + 1vw);
  font-weight: $base-lighter-font-weight;
  line-height: 1.4;

  color: $gray;
  margin: auto;
  z-index: 2;
}

img {
  max-width: 100%;
  padding-bottom: to-rem(20px);
}
.word-break {
  display: block;
}

.container {
  position: relative;
  padding: 0 to-rem(20px);
}

.section {
  padding-bottom: to-rem(66px);
  z-index: 4;

  &:first-of-type {
    padding-top: to-rem(0px);
  }

  @include media('>desktop') { 
    &:first-of-type {
      padding-top: 0;
    }

    padding-bottom: to-rem(190px);
  }
}