.button-container {
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    
    @include media('>desktop') { 

        margin: initial;
        
        &:hover .stripe {
            opacity: 0.4;
        }
    }

}

.btn {
    position: relative;
    width: 100%;
    padding: 1rem;
    font-family: $headline-font;
    font-size: to-rem(16px);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark-blue;
    z-index: 2;

}

.stripe {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    width: to-rem(140px);
    height: to-rem(10px);

    background-color: $yellow;
    border-radius: 10px;
    z-index: 1;
    opacity: 0.4;

    transition: 0.2s ease-in-out all;

    @include media('>desktop') { 
        opacity: 0;
        width: to-rem(150px);
        left: 0;
        transform: translateY(-50%) translateX(0);
    }
}